.celeste{
    background-color: cyan;
        padding :10px;
}
.green{
    background-color: green;
        padding :10px;
}
.greenclaro{
    background-color: greenyellow;
    padding :10px;
}
.fondo{
    background-color: blanchedalmond;
}
.texto{
    text-align: center;
}